/* 
    General Styles
*/
.layout {
    background-image: url("https://cdn.pixabay.com/photo/2016/06/05/07/59/stars-1436950_960_720.jpg");
}
img:hover {
    opacity: 0.5;
  }
.card-img-top {
    height: 100px;
    margin-left: 1rem;

}
.favs {
    color:rgb(223, 184, 58);
    background: rgb(104, 8, 8);
    margin-right: 1rem;
}